<!DOCTYPE html>
<html>

<head>
   
    <title>Task web app</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }
    
        body,
        html {
            height: 100%;
            line-height: 1.8;
        }
    
        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("https://wallpaperaccess.com/full/334700.jpg");
            min-height: 50%;
        }
    
        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
</head>

 <body>



<header>
    <% if(user) { %>
       
        <div class="w3-top">
            <div class="w3-bar w3-white w3-card" id="myNavbar">
        
                <div class="w3-right w3-hide-small">
        
                    <a href="/user/dashboard" class="w3-bar-item w3-button">Dashboard</a>
                    <a href="/user/logout" class="w3-bar-item w3-button">Logout</a>
        
                </div>
        
            </div>
        </div>




        <% }else{ %>
            <div class="w3-top">
                <div class="w3-bar w3-white w3-card" id="myNavbar">
            
                    <div class="w3-right w3-hide-small">
              <a href="/user/login" class="w3-bar-item w3-button">Login / Sign up</a>
            
                    </div>
            
                </div>
            </div>
            
                 
            <% } %>
</header>

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Welcome to OLX</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
        <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
    </div>
<h3 class="w3-center">Ads</h3>
</header>
    
<h3 class="w3-center">Ads</h3>
<div class="w3-row-padding w3-grayscale" style="margin-top:64px">
          
          <% for(var i=0; i < ads.length; i++) { %>
           
<div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card">

        <div class="w3-container">

                <%=i+1 %><br>
                <%=ads[i].name %>
               <br>
                    <a href="/ad/<%=ads[i].id %>">
                        show
                    </a>
                
               
</div>
</div>
</div>
            <% } %>
    
    </div>
    <footer class="w3-center w3-black w3-padding-64">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    
        <p>Created by- Shashank Negi</p>
    </footer>
    </body>

</html>