<!DOCTYPE html>
<html>

<head>

    <title>Task web app</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("https://wallpaperaccess.com/full/334700.jpg");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
</head>

<body>
<div class="w3-center">

<h1> your chats</h1>

<% for(var i=0; i < messages.length; i++){ %>

<% for(var j=0; j < messages[i].length; j++){ %>
<h4>
    <% if(messages[i][j].from == 'user') { %>
    User:
    <% }else{ %>
    You:
    <% } %>
    <%=messages[i][j].message %>
</h4>
<% } %>


<form method="post">
    <input type="hidden" name="userid" value="<%=messages[i][0].userId %>" />
    <input name="message" />
    <button type="submit">send</button>
</form>
<% } %>
</div>
</body>

</html>